.scoreCardPurple {
  background-image: url('../images/scorecard-purple.png') !important;
  background-size: 100% 100% !important;
}

.scoreCardYellow {
  background-image: url('../images/scorecard-yellow.png') !important;
  background-size: 100% 100% !important;
}

.fontStyleOpenSans {
  font-family: 'Open Sans';
}